<div class="jumbotron">
    <paper-button ng-click="changeBook()" raised>BookieMan</paper-button>
    <paper-button ng-click="changeContact()" raised>Contact List</paper-button>
</div>
<div class="container">
    <div ng-show="book">
        <p>BookieMan</p>
    </div>
    <div ng-show="contact">
        <p>Contact List</p>
    </div>
</div>
<!--
<a href="https://project-4682987334446585117.firebaseapp.com/">Bookmark Keeper (Bookieman)</a>
<a href="https://tjplist.herokuapp.com/#/">Contact List</a>
-->